@import "../../../ui/style/spacing";
@import "../../../ui/style/font";

:host {
  display: block;
  height: 100%;
}

.wrapper {
  height: 100%;
  padding: $spacing;
}

header {
  padding-bottom: $spacing-triple;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  margin: 0;
}

.actions {
  // padding: 0 $spacing;
}

footer {
  // padding: 0 $spacing;
}
