@import "../theming";

$basic-light-primary: theming-palette($color-blue);
$basic-light-accent: theming-palette($color-purple, A200, A100, A400);

$basic-light-theme: light-theme($basic-light-primary, $basic-light-accent);
